
//VARIABLES

//colors

$light-mode-text: rgb(17, 21, 23);
$light-mode-input: rgb(133,133,133);
$light-mode-bg: rgb(250, 250, 250);
$light-mode-el: rgb(255, 255, 255);

$dark-mode-el: rgb(43, 57, 69);
$dark-mode-bg: rgb(32, 44, 55);
$dark-mode-text: $light-mode-el;

//fonts
$font-size-main: 14px;
$font-size-extra: 16px;

//border
$radius: 5px;

//mixins
@mixin user-input-style{
    height: 3rem;
    border: none;
    outline: none;
    background-color: $light-mode-bg;
    color: $light-mode-input;
    border-radius: $radius;
    box-shadow: 0px 0px 20px darken($light-mode-el, $amount: 15);
}


*{
    box-sizing: border-box;
}

html{
    font-size: $font-size-main;
}

body{
    font-family: 'Nunito', sans-serif;
    color: $light-mode-text;
    background-color: $light-mode-bg;
    width: 100%;
    height: 100vh;
}


//DARK CLASS

.dark-bg{
    background-color: $dark-mode-bg !important;
}

.dark-el{
    background-color: $dark-mode-el !important;
}

.dark-text{
    color: $dark-mode-text !important;
}

.dark-shadow{
    box-shadow: none !important;
}

.dark-btn{
    background-color: $dark-mode-el !important;
    color: $dark-mode-text !important;
    box-shadow: none !important;
}


.wrapper{
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    background-color: $light-mode-bg;
    header{
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        background-color: $light-mode-el;
        box-shadow: 0px 3px 5px darken($light-mode-el, $amount: 10);
        width: 100%;
        padding: 1rem;
        margin-bottom: 2rem;
        h2{
            margin: 1rem;
            font-variation-settings: "wght" 30, "stbl" 70;//WAAROM WERKT DIT NIET??
            a{
                text-decoration: none;
                color: $light-mode-text;
                cursor: pointer;
            }
        }
        div{
            cursor: pointer;
            display: flex;
            flex-flow: nowrap row;
            justify-content: center;
            align-items: center;
            p{
                margin: 1rem 1rem 1rem 0;
                padding-top: 6px;
            }
            span{
                margin: .5rem .5rem 0 0;
            }
        }
    }
    main{
        display: flex;
        flex-flow: wrap column;
        align-items: center;
        width: 100%;
        .user-input{
            display: flex;
            flex-flow: nowrap column;
            align-items: flex-start;
            width: 80%;
            margin: 0 auto 2rem;
            //margin-bottom: 2rem;
            input{
                @include user-input-style;
                width: 100%;
                max-width: 400px;
                margin-bottom: 3rem;
                padding: 0 1rem;
                &::placeholder {
                    color: $light-mode-text;
                    opacity: 1; /* Firefox */
                    color: #858585;
                  }
                }
            #filter{
                @include user-input-style;
                width: 40%;
                max-width: 180px;
                cursor: pointer;
                }
            }
        .content{
            margin: 0 auto;
            width: 80%;
            .card{
                background-color: $light-mode-bg;
                width: 100%;
                max-width: 700px;
                border-radius: $radius;
                box-shadow: 0px 0px 20px darken($light-mode-el, $amount: 15);
                margin-bottom: 2rem;
                cursor: pointer;
                img{
                    width: 100%;
                }
                h4{
                    text-align: center;
                }
                ul{
                    display: flex;
                    flex-flow: nowrap column;
                    align-items: center;
                    list-style: none;
                    padding: 0;
                }
            }
        }
        }
    }


.extra{
    display: none;
    flex-flow: nowrap column;
    align-items: flex-start;
    width: 90%;
    div{
        button{
            @include user-input-style;
            width: 100px;
            height: 30px;
            margin-bottom: 3rem;
            color: $light-mode-text;
            cursor: pointer;
            .fa-arrow-left{
                margin-right: 1rem;
                margin-top: 5px;
                color: $light-mode-text;
            }
        }
    }
    .details{
       // width: 100%;
       display: flex;
       flex-flow: nowrap column;
       align-items: flex-start;
        img{
            width: 100%;
            align-self: center;
            margin-bottom: 3rem;
        }
        h1{
            margin: 0 0 2rem;
        }
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: .5rem 0;
            }
        }
    }
    .more-details{
        ul{
            list-style: none;
            padding: 0;
            li{
                padding: .5rem 0;
            }
        }
    }

    .border{
        ul{
            list-style: none;
            padding: 0;
            li{
                color: $light-mode-text;
            }
        }
    }
}


.dark-mode-search::placeholder {
    color: #858585;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #858585;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #858585;
  }

  @media only screen and (min-width: 750px){
    .wrapper main .user-input{
         flex-flow: nowrap row;
         justify-content: space-between;
     }

     .wrapper main .content{
         display: flex;
         flex-flow: wrap row;
         justify-content: space-between ;
         .card{
             width: calc(50% - 1rem);
            //  &:nth-child(odd){
            //      margin: .5rem .5rem .5rem 0;
            //  }
            //  &:nth-child(even){
            //      margin: .5rem 0 .5rem .5rem;
            //  }
         }
     }
     .wrapper main .extra{
       width: auto;
       max-width: 900px;
       margin: 0 2rem;
        .details{
            flex-flow: nowrap row;
            justify-content: space-between;
            img{
                width: 60%;
                //margin-right: 3rem;
            }
            div{
                margin-right: 3rem;
            }
         }
     } 
     .wrapper main .extra .more-details{
        align-self: flex-end;
        margin-right: 3rem;
        margin-top: -7rem;
     }

     .wrapper main .extra .border{
         margin-top: -2rem;
         ul{
             display: flex;
            li{
                margin: 0 .5rem;
                &:first-child{
                    margin-left: 0;
                }
            }
         }
     }
  }

  @media only screen and (min-width: 1440px){
    .wrapper main .content .card{
        width: calc(33.333% - 3rem);
    }
  }